@model List<UserDTO>

<head>
	
</head>
<div class="container-xxl flex-grow-1 container-p-y">
	

	<h4 class="fw-bold py-3 mb-4">
		<span class="text-muted fw-light">Tables /</span> Kullanıcılar
	</h4>

	<!-- Basic Bootstrap Table -->
	<div class="card">

		<div class="table-responsive text-nowrap m-3">
			<a class="btn btn-success mb-3" asp-area="Admin" asp-controller="User" asp-action="Add">Kullanıcı Ekle</a>
			<table class="table table-bordered m-3" id="usersTable" width="%100" cellspacing="0">
				<thead>
					<tr>
						<th>İsim</th>
						<th>Soyisim</th>
						<th>Email</th>
						<th>Telefon Numarası</th>
						<th>Rolü</th>
						<th>Email Onay</th>
						<th>Başarısız Giriş Sayısı</th>
						<th>İşlemler</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>İsim</th>
						<th>Soyisim</th>
						<th>Email</th>
						<th>Telefon Numarası</th>
						<th>Rolü</th>
						<th>Email Onay</th>
						<th>Başarısız Giriş Sayısı</th>
						<th>İşlemler</th>
					</tr>
				</tfoot>
				<tbody class="table-border-bottom-0">
					@foreach (var item in Model)
					{
						<tr name="@item.Id">
							<td>@item.FirstName</td>
							<td>@item.LastName</td>
							<td>@item.Email</td>
							<td>@item.PhoneNumber</td>
							<td>@item.Role</td>
							<td>@(item.EmailConfirmed ? "Onaylı" : "Onaylı Değil")</td>
							<td>@item.AccessFailedCount</td>
							<td>
								<a class="btn btn-primary btn-sm" asp-area="Admin" asp-controller="User" asp-action="Update" data-id="@item.Id" asp-route-userId="@item.Id">
									<i class="bx bxs-edit"></i>
								</a>
								<a class="btn btn-danger btn-sm" asp-area="Admin" asp-controller="User" asp-action="Delete" data-id="@item.Id" asp-route-userId="@item.Id">
									<i class='bx bx-message-alt-x'></i>
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
	<!--/ Basic Bootstrap Table -->

</div>

@section Scripts {
	<script src="~/js/userIndex.js" type="application/ecmascript"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
}



